body {
  padding-top: 50px;
  height: 1080px;
	background-image:linear-gradient(#8181F7,white);	
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.inline-form input {
   display: inline-block;
   width: 100px;
}

[class*="col-"], footer {
 /* border: 2px solid black;
  border-radius: 6px;*/

    /* Distorts the height of the text */
    /*line-height: 40px;*/
    text-align: center;
}

#cherche{
  text-align: center;
}

.playlist {
	margin: 0px 0px -10px 0px;
}

.playlist-milieux {
	margin-left: 320px;
	margin-top: 50px;
}

.marge-bas {
	margin-bottom: 15px;
}

.playlist-top { 
	margin: 0px 0px -10px 0px;
}

.top-spaced {
    margin-top: 15px;
}

p.spacer{
  padding-top: 20px;
}

.couleur-body {
	background-color: #E0E0F8;
}


.rating a {
   float: right;
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}



.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}

#global{

  margin-left: auto;
  margin-right: auto;
   width: 200px;
}

#color_blue{
	background-image:linear-gradient(#8181F7,white);	
}

#end{
	background-color:black;
	height:181px;
}

h3{
	font-family: Verdana, Arial, "Arial Black";
}

.lft{

	padding-left: 0px;
}


h6{
   font-family: Aller, Verdana, Arial, "Arial Black";
   font-size: medium;
   padding-left: 30px;
}

h7{
   font-family: Verdana, Arial, "Arial Black";
   font-size: 17px;
}

h8{
	font-family: Verdana, Arial, "Arial Black";
	font-size: 40px;
	color: black;
}
/*.container {
  display: table;
}
.row {
  display: table-row;
  height: 100%;
}
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  display: table-cell;
  float: none;
}*/
