<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.ico">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/player/player.css" rel="stylesheet">
{#    <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.no-icons.min.css"#}
{#          type="text/css" rel="stylesheet">#}
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css" type="text/css"
          rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-select.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-select.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="/static/style.css" rel="stylesheet">
    <link href="/static/checkbox.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-combobox.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstrap/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Navigation bar -->
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img style="max-width:120px; margin-top: -7px;"
                         src="/static/images/new/mmhead.png ">
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/home"><h6>Home</h6></a></li>
                    <li>
                        <a href="/top_music"><h6><span class="glyphicon glyphicon-star" style="font-size:17px;"></span> Top</h6></a>
                    </li>
                    <li>
                        <a href="/last_music"><h6><span class="glyphicon glyphicon-music" style="font-size:17px;"></span> Latest hits</h6></a>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/profile"><h6><span class="glyphicon glyphicon-user"
                                                     style="font-size:17px;"></span> {{ username }}</h6></a></li>
                    <li><a href="/logout"><h6><span class="glyphicon glyphicon-remove" style="font-size:17px;"></span>
                        Log Out</h6></a></li>
                </ul>

                <form action="/home" method="POST" id="search" class="navbar-form navbar-right">
                    <div class="form-group">
                        <input name="search" type="search" class="form-control" style="font-size:22px;" title="Music search">
                        <button type="submit" class="btn btn-primary" title="Search and create a new playlist">
                            <span class="glyphicon glyphicon-headphones"  style="font-size:17px;" ></span> Search
                        </button>
                    </div>
                </form>

            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <!-- /Navigation bar -->



    <!-- <div class="container-fluid" style="background-color: black;"> -->
    <div class="container-fluid" id="color_blue">
        <div class="raw">

            <!-- Mood list panel -->
            <div class="col-sm-12 col-lg-6">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">What is your mood today?</h3>
                    </div>

                    <div class="panel-body couleur-body">

                        <form id="current-mood" action="">
                            <div>
                                <div class="col-xs-6 col-sm-3 col-md-3">
                                    <p>
                                        <input type="checkbox" id="test3" data-mood='Chill'>
                                        <label for="test3"><span class="mood">Chill</span></label>
                                    </p>

                                    <p class="spacer">
                                        <input type="checkbox" id="test4" data-mood='Sad'>
                                        <label for="test4"><span class="mood">Sad</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test5" data-mood='Nostalgic'>
                                        <label for="test5"><span class="mood">Nostalgic</span></label>
                                    </p>

                                    <p class="spacer">
                                        <input type="checkbox" id="test22" data-mood='Gaming'>
                                        <label for="test22"><span class="mood">Gaming</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test23" data-mood='Travel'>
                                        <label for="test23"><span class="mood">Travel</span></label>
                                    </p>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3">
                                    <p>
                                        <input type="checkbox" id="test7" data-mood='Motivated'>
                                        <label for="test7"><span class="mood">Motivated</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test8" data-mood='Enthusiastic'>
                                        <label for="test8"><span class="mood">Enthusiastic</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test9" data-mood='Upset'>
                                        <label for="test9"><span class="mood">Upset</span></label>
                                    </p>

                                    <p class="spacer">
                                        <input type="checkbox" id="test11" data-mood='Inspired'>
                                        <label for="test11"><span class="mood">Inspired</span></label>
                                    </p>

                                    <p class="spacer">
                                        <input type="checkbox" id="test25" data-mood='Festive'>
                                        <label for="test25"><span class="mood">Festive</span></label>
                                    </p>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3">
                                    <p>
                                        <input type="checkbox" id="test14" data-mood='Energetic'>
                                        <label for="test14"><span class="mood">Energetic</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test15" data-mood='Geek'>
                                        <label for="test15"><span class="mood">Geek</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test16" data-mood='Instrumental'>
                                        <label for="test16"><span class="mood">Instrumental</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test26" data-mood='Creative'>
                                        <label for="test26"><span class="mood">Creative</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test27" data-mood='Tropical'>
                                        <label for="test27"><span class="mood">Tropical</span></label>
                                    </p>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3">
                                    <p>
                                        <input type="checkbox" id="test17" data-mood='Studieux'>
                                        <label for="test17"><span class="mood">Studious</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test18" data-mood='Aggressive'>
                                        <label for="test18"><span class="mood">Aggressive</span></label>
                                    </p>


                                    <p class="spacer">
                                        <input type="checkbox" id="test21" data-mood='Calm'>
                                        <label for="test21"><span class="mood">Calm</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test28" data-mood='Adventurous'>
                                        <label for="test28"><span class="mood">Adventurous</span></label>
                                    </p>
                                    <p class="spacer">
                                        <input type="checkbox" id="test29" data-mood='Humorous'>
                                        <label for="test29"><span class="mood">Humorous</span></label>
                                    </p>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary"
                                        onClick="getCheckBox(this.form, 'mood'); return false;">
                                    <span class="glyphicon glyphicon-search" style=""></span>
                                    <h7>Search playlist</h7>
                                </button>
                                <button type="submit" class="btn btn-default"
                                        onClick="getCheckBox(this.form, 'genre'); return false;"><span class="glyphicon glyphicon-search"></span>
                                    <h7>Search with their genres</h7>
                                </button>
                            </div>

                            <div class="top-spaced text-center">
                                <a href="/home?random" class="btn btn-default btn-sm">Get Random songs</a>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
            <!-- \Mood list panel -->


            <!-- Player panel -->
            <div class="col-sm-6 col-lg-3">

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Song</h3>
                    </div>

                    <div class="panel-body couleur-body">


                        <div class="raw">

                            <!-- Main Player -->
                            <div id="player" class="well container-fluid playa"
                                 data-source="{{ music.musicPath }}"
                                 data-source-type="youtube"
                                 data-info-album-art="{{ music.imagePath }}"
                                 data-info-album-title="{{ music.album }}"
                                 data-info-artist="{{ music.artist }}"
                                 data-info-title="{{ music.title }}"
                                 data-info-label="{{ music.label }}"
                                 data-info-year="{{ music.year }}">

                                <!-- Toggle button -->
                                <div class="playa-toggle-holder btn-group center-block row col-sm-12">
                                    <button id="button-toggle" title="Show or hide details"
                                            class="btn btn-default btn-lg btn-block row col-sm-12" style="opacity:0.3"
                                            data-original-title="Details">
                                        <i class="glyphicon glyphicon-align-justify" style="top:-3px"></i>
                                    </button>
                                </div>

                                <!-- Data section -->
                                <section id="section-data" class="playa-data-sec col-sm-12 collapse in" aria-expanded="true">
                                    <!-- <img class="thumbnail" src="https://farm9.staticflickr.com/8642/16106988340_058071cdbe_z.jpg"> -->

                                    <!-- Youtube player -->
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <div id="yt-player"></div>
                                    </div>

                                    <table class="table table-condensed">
                                        <tbody>
                                        <tr id="row-artist">
                                            <th>Artist</th>
                                            <td>-</td>
                                        </tr>
                                        <tr id="row-title">
                                            <th>Title</th>
                                            <td>-</td>
                                        </tr>
                                        <tr id="row-album">
                                            <th>Album</th>
                                            <td>-</td>
                                        </tr>
                                        <tr id="row-label">
                                            <th>Label</th>
                                            <td>-</td>
                                        </tr>
                                        <tr id="row-year">
                                            <th>Year</th>
                                            <td>-</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </section>

                                <!-- Player Controls section -->
                                <section id="section-player-controls" class="btn-group">
                                    <!-- Play/Pause button -->
                                    <button id="button-play-pause" class="btn btn-default col-sm-1"><i class="glyphicon glyphicon-play"></i></button>

                                    <!-- Time slider -->
                                    <div class="btn btn-default col-sm-4 hidden-xs">
                                        <input id="sider-time" type="range" class="seek" min="0" max="100" step="1" value="0">
                                    </div>

                                    <!-- Current Time / Reset button -->
                                    <button id="button-current-time-reset" class="btn btn-default col-sm-3"
                                            data-original-title="Click to Reset<hr style=&quot;padding:0; margin:0;&quot; />Position: --:--"
                                            title="">
                                        --:--
                                    </button>

                                    <!-- Mute / Volume icon -->
                                    <button id="button-mute" class="btn btn-default col-sm-1">
                                        <i class="glyphicon glyphicon-volume-up"></i>
                                    </button>

                                    <!-- Volume slider -->
                                    <div class="btn btn-default row col-sm-3 hidden-xs">
                                        <input id="sider-volume" type="range" min="0" max="1" step="0.01" value="1">
                                    </div>
                                </section>

                                <!-- Attribution -->
                                <div class="row col-sm-10 col-sm-offset-1 hidden">
                                    <a class="text-muted btn btn-link btn-sm" href="https://github.com/">
                                        -
                                    </a>
                                </div>
                            </div>
                            <!-- / Main Player -->


                            <div class="col-sm-12 text-center">
                                <h7>Rate your mood</h7>

                                <div class="rating" id="global">
                                    <a id="rating-5" title="Give 5 stars">☆</a>
                                    <a id="rating-4" title="Give 4 stars">☆</a>
                                    <a id="rating-3" title="Give 3 stars">☆</a>
                                    <a id="rating-2" title="Give 2 stars">☆</a>
                                    <a id="rating-1" title="Give 1 star" >☆</a>
                                </div>

                                <form id="productForm" method="post" class="form-horizontal">
                                    <div class="form-group">
                                        <select id="comboselect" onchange="setMood();" class="combobox form-control"
                                                name="inline">
                                            <option value="" selected="selected" disabled>Choose a mood</option>
                                            <option value="Chill">Chill</option>
                                            <option value="Sad">Sad</option>
                                            <option value="Nostalgic">Nostalgic</option>
                                            <option value="Gaming">Gaming</option>
                                            <option value="Travel">Travel</option>
                                            <option value="Motivated">Motivated</option>
                                            <option value="Enthusiastic">Enthusiastic</option>
                                            <option value="Upset">Upset</option>
                                            <option value="Inspired">Inspired</option>
                                            <option value="Festive">Festive</option>
                                            <option value="Energetic">Energetic</option>
                                            <option value="Geek">Geek</option>
                                            <option value="Instrumental">Instrumental</option>
                                            <option value="Creative">Creative</option>
                                            <option value="Tropical">Tropical</option>
                                            <option value="Studious">Studious</option>
                                            <option value="Aggressive">Aggressive</option>
                                            <option value="Calm">Calm</option>
                                            <option value="Adventurous">Adventurous</option>
                                            <option value="Humorous">Humorous</option>
                                        </select>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- \Player panel -->

            <!-- Playlist panel -->
            <div class="col-sm-6 col-lg-3">
                <div class="panel panel-primary">

                    <div class="panel-heading">
                        <h3 class="panel-title">Playlist</h3>
                    </div>

                    <div class="panel-body couleur-body">
                        <ul class="playlist">
                            {% if music_list|length==0 %}
                                <p>Nothing here... Try searching something or click on Random!</p>
                            {% endif %}

                            {% for song in music_list %}
                                {% if music_list.index(song)==5 and music_list|length>5 %}
                                    <p>
                                        <button id="showMoreBtn" class="btn btn-primary" Title="See more music"
                                                onclick="showMoreSongs()">
                                            <span id="icon_pm" class="glyphicon glyphicon-plus" style="font-size:17px;"></span>
                                            <h7 id="showMoreText">See more music</h7>
                                        </button>
                                    </p>

                                    <!-- The begining of the DIV container for items from 5 and up. -->
                                    <div id="moreThanFiveDiv" style="display:none">
                                {% endif %}

                                {# Main "getMusic()" JavaScript function. #}
                                <a class="list-group-item marge-bas" onClick="getMusic(this)"
                                   data-artist="{{ song['artist'] }}"
                                   data-album="{{ song['album'] }}"
                                   data-title="{{ song['title'] }}">
                                    <span class="glyphicon glyphicon-music"></span>
                                    {{ song['artist'] }} - {{ song['album'] }} - {{ song['title'] }}
                                </a>
                            {% endfor %}

                            {% if music_list|length>5 %}
                                <!-- The end of the DIV container for items from 5 and up. -->
                                </div>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- \Playlist panel -->

        </div>
    </div>



    <!-- Footer -->
    <footer class="container-fluid" id="end">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-md-3 col-md-offset-2">
                <h3>About</h3>
                <ul>
                    <!--<li style="text-align: left; margin-left: 70px;"><a href="#contact">Our Team</a></li>-->
                    <!--<li style="text-align: left; margin-left: 70px;"><a href="#contact">E-Mails</a></li>-->
                    <!--<li style="text-align: left; margin-left: 70px;"><a href="api">Api doc 1</a></li>-->
                    <li><a href="http://moodmusicproject.blogspot.se/">Blog</a></li>
                </ul>
            </div>
            <div class="col-xs-5 col-md-3 col-md-offset-2 ">
                <h3>More</h3>
                <ul>
                    <li><a href="/static/apidoc/index.html">Developers API</a></li>
                    <li><a href="https://github.com/edmundo096/MoodMusic">GitHub</a></li>
                    <!--<li style="text-align: left; margin-left: 120px;"><a href="/about_accueil">Home</a></li>-->
                    <!--<li style="text-align: left; margin-left: 120px;"><a href="/about_profil">profile</a></li>-->
                    <!--<li style="text-align: left; margin-left: 120px;"><a href="/about_schemas_base">Structure</a></li>-->
                </ul>
            </div>
        </div>
    </footer>
    <!-- \Footer -->



    <!--<script src="bootstrap/js/bootstrap-select.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>-->

    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script>-->

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <script src="/static/player/player.js"></script>

    <!--<script src="/static/bootstrap/js/my.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/bootstrap/js/ie10-viewport-bug-workaround.js"></script>

    <!--  Coded JavaScripts -->
    <script src="/static/setRating.js"></script>
    <script src="/static/setMood.js"></script>
    <script src="/static/lookCheckBox.js"></script>
    <script src="/static/getMusic.js"></script>

</body>
</html>


